.sidebar{
  background-color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  left: 0;
  top: 60px;
  width: 72px;
  z-index: 1001;
  padding-top: 5px;
}

.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover{
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
  
}

.sidebar-link div {
  font-family: Roboto,Arial;
  font-size: 10px;
}